:root {
    --primary-white: #FFFFFF;
    --primary-transparent: #070724;
    --primary-grey: #38384F;
    --primary-blue: #419EBB;
    --primary-yellow: #EDA249;
    --primary-purple: #6D2ED5;
    --primary-orange: #D14C32;
    --primary-red: #D83A34;
    --primary-cyan: #1EC1A2;

    --secondary-grey: #838391;
    --secondary-orange: #CD5120;
    --secondary-blue: #2D68F0;
}